 *{ 
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    Font-family: 'Gilroy';
}

html,body{
    Width: 100%;
    Height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e4ba;
}
#container{
    background-color: #ffff;
    padding: 2rem;
    border-radius: 20px;
}
form{
    margin: 2rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
}
form input{
    border: 1px solid lightgray;
    font-size: 1.2rem;
    height: 1.8rem;
    padding-left: 0.4rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.dropdown i{
    font-size: 1.4rem;
    margin-top: 1rem;
}
.select-container img{
    height: 3rem;
    width: 3rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid lightgray;
} 
.msg{
    margin: 1.5rem 0;
    text-align: center;
}
button{
    padding: 1rem 1rem;
    background-color: rgb(226, 185, 63);
    /* background-color: #af4d98; */
    font-size: 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
